.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.modal_footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* input[type="text"],
select,
input[type="file"] {
    width: 100%;
} */

.table_rounded {
    border-radius: 12px;
}